*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}
.modal {
    justify-content:center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    border-radius: 10px;
    display:flex;
    align-items:center;
    background-color: white;
    width: 20%;
    height: 65%;
    margin: 100px auto;
    padding: 20px;
}
input {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 30px;
  }
  .modal-content h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: #3e0bce;
  }
   .modal-content label{       
   color: #f0390f; 
   font-weight:bold;
   font-size: 15px;
  }

  .modal-delete{
    border-radius: 10px;
    align-items:center;
    background-color: white;
    width: 20%;
    height: 20%;
    margin: 380px  800px;
    padding: 20px;
  }
  .modal-delete h2{
    font-size: 30px;
    text-align: center;
    color: #3e0bce;
  }
  .modal-delete button[type="submit"]{
    text-align: center;
    justify-content: center;
    background-color: #ff0000; 
    color: #fff; 
    padding: 5px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-left: 63px;
}
.modal-delete p {
    margin-left: 10px;
}
.modal-delete button[type="button"]{
    text-align: center;
    justify-content: center;
    background-color: #ff0000; 
    color: #fff; 
    padding: 5px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
   margin-left: 7px;
}
.modal-delete button[type="submit"]:hover {
    background-color: #ff3333;
}
    th{
      background: #3e0bce;
      color:#fff;
    }

.container h1{
    color: #f0390f;
    font-weight: bolder;
    margin-left: 680px;
    position: absolute;
    top: 540px;
}
span{
    color: #007BFF;
}
  .mytable{  
   border: 1px solid black;
   border-collapse: collapse;
   width: 60%;
   text-align :center;
   font-family: Arial, sans-serif;
   margin-left: -150px;
   position: absolute;  
   margin-left: 200px;
   top: 600px;

}

  .mytable th, .mytable td{
    padding: 10px;
  }
  tr:nth-child(even) {
  background-color: #D6EEEE;
  }
  .action-button {
    text-align: center;
    justify-content: center;
    background-color: #3e0bce; 
    color: #fff; 
    padding: 5px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin: 0;
}

.action-button:hover {
    background-color: #0056b3; 
}




.announcement-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-height: 250px;
    padding: 20px;
    background-color: #D6EEEE;
    margin-left: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .announcement-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
  }
  
  .announcement-form label {
    font-size: 1.2em;
    color: #666;
  }
  
  .announcement-form input[type="text"],
  .announcement-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .announcement-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .announcement-form input[type="submit"] {
    background-color: #8300c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 55px;
  }
  
  .announcement-form input[type="submit"]:hover {
    background-color: #0056a7;
  }

  .announcement-sub {
    background-color: #8300c0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    color: #fff;
  }
  
  .announcement-sub h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .announcement-sub h3 {
    font-size: 22px;
    font-weight: bolder;
  }
  
  .announcement-sub p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .announcement-sub a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  .announcement-sub a:hover {
    color: #ff69b4;
  }
  
  
  .box{
    width: 350px;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
  
  }



  
  .pie {
    
    justify-content: center;
    align-items: center;
  
   
  }
  #piechart{
    border: #3e0bce solid;
    width: 600px;
    height: 300px;
    margin-left: 500px;
    position: absolute;
    top: 170px;
    
    
    
  }
  .pie h1{
    top: -180px;
    right: -450px;
   
  }


  
/* Bar Graph CSS */

#chart_div {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 500px;
    position: relative;
    border: #3e0bce solid;
    position: absolute;
    top: 170px;
    margin-left: 1200px;
  
  }


